@charset "UTF-8";
/* CSS Document */

p, a, h1, h2, h3, h4, h5, dl, ul {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-decoration:none;
	list-style:none;
	line-height:1.6;
	margin:0;
	padding:0;
	border:none;
}

img {
	border:none;
}

p {
	color:#4e4e4e;
	font-size:14px;
	text-align:center;
}

.en, .ja {
	display:inline;
}

br.clear {
	clear:both;
	height:0;
	width:0;
	margin:0;
	padding:0;
	line-height:0;
}

.sp {
	display:none;
}

.pc {
}

body {
	margin:0;
	padding:0;
	background:#ffffff;
}

div#wrapper {
	width:100%;
	background:url(/p/images/pict_bg_header.png) repeat-x top;
}

div#header {
	width:960px;
	margin:0 auto;
	height:45px;
	padding:10px 0 0;
}

	div#header img.logo {
		float:left;
	}

	div#header div.lang {
		float:right;
		font-size:14px;
		color:#ffffff;
		text-align:right;
		padding:2px 0 0;
		width:200ppx;
	}
	
	div#header div.lang a {
		color:#ffffff;
		margin:0 6px;
	}
				
div#content {
	width:980px;
	margin:30px auto;
}

div#content div.userarea {
	width:960px;
	margin:0 auto 60px;
}

div#content div.photofloat {
	float:left;
	margin:5px 6px 5px 0;
}

div#content div.userphoto {
	background:url(/p/images/snapbg.png);
	width:596px;
	height:596px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	layout-grid-line:596px;
	float:none;
	border:1px #e1e1e1 solid;
}
	div#content div.userphoto img.snapshot {
	max-width:596px;
	max-height:596px;
	vertical-align:middle;
	}


div#content div.usercomment {
	width:356px;
	height:216px;
	float:left;
	background:url(/p/images/snapcomment.png);
	color:#4e4e4e;
}
	div.usercomment ul li.icon {
		width:60px;
		height:60px;
		background:url(/img/snapshot/img_noicon.png) no-repeat;
		margin:11px 11px 11px 24px;
		float:left;
	}
	
	div.usercomment ul li.name {
		height:22px;
		width:250px;
		padding:18px 0 0;
		color:#4e4e4e;
		font-weight:bold;
		float:left;
	}
	
	div.usercomment ul li.invite {
		height:14px;
		width:250px;
		padding:6px 0 0;
		color:#4e4e4e;
		float:left;
		font-size:12px;
	}
	
	div.usercomment p.title {
		margin:0 11px 0 24px;
		float:left;
		text-align:left;
	}


div#content div.download {
	width:344px;
	height:386px;
	float:right;
	text-align:center;
	}

	div.download img.logo {
		margin:80px 0 80px;
	} 
	
	div.download p {
		margin:0 0 10px 0;
	}
	
	div.download a img {
		margin:10px 0 0;
	}


div#content div.social {
	width:960px;
	margin:0 auto;
}

	div#content div.social a.bnr {
		float:right;
	}
	
	div#content div.social div.fb-like{
		vertical-align:top;
	}
	
	
a.snapeeeweb{
		margin:0 10px;
	}
	
	
div#footer {
	width:960px;
	text-align:center;
	margin:0 auto 30px;
}

div#footer a {
	color:#a5a5a5;
}

div#footer p{
	color:#a5a5a5;
	margin:0 0 10px 0;
}